<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.transaction.product.mapper.CategoryInfoMapper">
    <delete id="deleteLeafCategoryInfo">
        delete from category_info
        where category_id= #{categoryId} and 0 = (
            select child_number from (
                select count(category_id) child_number from category_info
                where parent_id = #{categoryId}
            ) child_count
        )
    </delete>

    <select id="getFullCategoryName" resultType="String">
        select concat_ws('-', second_lawyer.category_name, first_lawyer.category_name) from category_info first_lawyer
        join category_info second_lawyer
        on first_lawyer.parent_id = second_lawyer.category_id
        where first_lawyer.category_id = #{categoryId} and first_lawyer.level = 1
    </select>
</mapper>
