<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.transaction.product.mapper.ProductInfoMapper">
    <select id="userSelfPageQuery" resultType="neko.transaction.product.vo.ProductInfoVo">
        select product_info.*,
               concat_ws('-', parent.category_name, category_info.category_name) full_category_name from product_info
        join category_info
        on product_info.category_id = category_info.category_id
        join category_info parent
        on category_info.parent_id = parent.category_id
        <where>
            uid = #{uid}
            <if test="@org.springframework.util.StringUtils@hasText(queryWords)">
                and product_info.product_name like concat(#{queryWords},'%')
            </if>
            <if test="@cn.hutool.core.util.ObjectUtil@isNotNull(status)">
                and product_info.status = #{status}
            </if>
--             过滤已删除商品信息
            and status != ${@neko.transaction.commonbase.utils.entity.ProductStatus@DELETED}
        </where>
        order by product_info.product_id desc
        limit #{start}, #{limited}
    </select>

    <select id="userSelfPageQueryNumber" resultType="int">
        select count(product_info.product_id) from product_info
        join category_info
        on product_info.category_id = category_info.category_id
        join category_info parent
        on category_info.parent_id = parent.category_id
        <where>
            uid = #{uid}
            <if test="@org.springframework.util.StringUtils@hasText(queryWords)">
                and product_info.product_name like concat(#{queryWords},'%')
            </if>
            <if test="@cn.hutool.core.util.ObjectUtil@isNotNull(status)">
                and product_info.status = #{status}
            </if>
--             过滤已删除商品信息
            and status != ${@neko.transaction.commonbase.utils.entity.ProductStatus@DELETED}
        </where>
    </select>

    <select id="getUserSelfProductInfoById" resultType="neko.transaction.product.vo.ProductInfoVo">
        select product_info.*,
        concat_ws('-', parent.category_name, category_info.category_name) full_category_name from product_info
        join category_info
        on product_info.category_id = category_info.category_id
        join category_info parent
        on category_info.parent_id = parent.category_id
        where product_info.product_id = #{productId} and uid = #{uid}
--         过滤已删除商品信息
        and status != ${@neko.transaction.commonbase.utils.entity.ProductStatus@DELETED}
    </select>

    <update id="downProduct">
        update product_info
        set status = ${@neko.transaction.commonbase.utils.entity.ProductStatus@DOWN},
            up_time = null
        where product_id = #{productId} and uid = #{uid} and
              status = ${@neko.transaction.commonbase.utils.entity.ProductStatus@UP}
    </update>

    <select id="getUpProductDetailInfo" resultType="neko.transaction.product.vo.ProductDetailInfoVo">
        select product_info.*,
            concat_ws('-', parent.category_name, category_info.category_name) full_category_name from product_info
        join category_info
        on product_info.category_id = category_info.category_id
        join category_info parent
        on category_info.parent_id = parent.category_id
        where product_info.product_id = #{productId} and
--         过滤已删除商品信息
            status = ${@neko.transaction.commonbase.utils.entity.ProductStatus@UP} and
            product_info.is_ban = 0
    </select>

    <select id="getProductDetailInfoByIds" resultType="neko.transaction.product.vo.ProductDetailInfoVo">
        select product_info.*,
            concat_ws('-', parent.category_name, category_info.category_name) full_category_name from product_info
        join category_info
        on product_info.category_id = category_info.category_id
        join category_info parent
        on category_info.parent_id = parent.category_id
        where product_info.product_id in
        <foreach collection="productIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <update id="increaseSaleNumber">
        update product_info
        set sale_number = sale_number + #{increase}
        where product_id = #{productId}
    </update>

    <update id="banProduct">
        update product_info
        set is_ban = 1, status = ${@neko.transaction.commonbase.utils.entity.ProductStatus@DOWN},
            up_time = null
        where product_id = #{productId}
    </update>
</mapper>
