<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.transaction.product.mapper.ProductApplyInfoMapper">
    <select id="unhandledApplyPageQuery" resultType="neko.transaction.product.vo.ProductApplyInfoVo">
        select * from product_apply_info
        <where>
            <if test="@org.springframework.util.StringUtils@hasText(queryWords)">
                product_name like concat(#{queryWords},'%') and
            </if>
            status = ${@neko.transaction.commonbase.utils.entity.ProductApplyStatus@UNHANDLED}
        </where>
        limit #{start}, #{limited}
    </select>

    <select id="unhandledApplyPageQueryNumber" resultType="int">
        select count(product_apply_id) from product_apply_info
        <where>
            <if test="@org.springframework.util.StringUtils@hasText(queryWords)">
                product_name like concat(#{queryWords},'%') and
            </if>
            status = ${@neko.transaction.commonbase.utils.entity.ProductApplyStatus@UNHANDLED}
        </where>
    </select>

    <update id="updateUnhandledApplyStatus">
        update product_apply_info
        set status = #{status}
        where product_apply_id = #{productApplyId} and status = ${@neko.transaction.commonbase.utils.entity.ProductApplyStatus@UNHANDLED}
    </update>
</mapper>
