<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.transaction.ware.mapper.StockLockLogMapper">
    <update id="updateStatusToCancelLock">
        update stock_lock_log
        set status = ${@neko.transaction.commonbase.utils.entity.StockStatus@CANCEL_LOCK}
        where order_id = #{orderId} and status = ${@neko.transaction.commonbase.utils.entity.StockStatus@LOCKING}
    </update>

    <update id="updateStatusToPaid">
        update stock_lock_log
        set status = ${@neko.transaction.commonbase.utils.entity.StockStatus@PAID}
        where order_id = #{orderId} and status != ${@neko.transaction.commonbase.utils.entity.StockStatus@PAID}
    </update>

    <insert id="insertBatch">
        insert into stock_lock_log(order_id, ware_id, lock_number) values
        <foreach collection="lockProductInfos" item="info" separator=",">
            (
                #{orderId},
                (
                    select ware_id from ware_info
                    where product_id = #{info.productId}
                ),
                #{info.lockNumber}
            )
        </foreach>
    </insert>
</mapper>
