<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.transaction.ware.mapper.WareInfoMapper">
    <select id="wareInfoById" resultType="neko.transaction.ware.vo.WareInfoVo">
        select ware_id, product_id, (stock - lock_number) stock, create_time, update_time
        from ware_info
        where product_id = #{productId}
    </select>

    <update id="updateStockByProductId">
        update ware_info
        set stock = stock + #{offset}
--         修改后库存数量必须 >= 0
        where product_id = #{productId} and (stock - lock_number + #{offset}) >= 0
    </update>

    <update id="lockStock">
        update ware_info
        set lock_number = lock_number + #{lockNumber}
        where ware_id = #{wareId} and stock >= lock_number + #{lockNumber}
    </update>

    <update id="lockStocks">
        update ware_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="lock_number = case" suffix="end,">
                <foreach collection="lockProductInfos" item="info">
                    when product_id = #{info.productId} then lock_number + #{info.lockNumber}
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="lockProductInfos" item="info" separator="or">
            product_id = #{info.productId} and stock >= lock_number + #{info.lockNumber}
        </foreach>
    </update>

    <update id="unlockStock">
        update ware_info
        set lock_number = lock_number - (select lock_number from stock_lock_log
            where stock_lock_log_id = #{stockLockLogId} and status = ${@neko.transaction.commonbase.utils.entity.StockStatus@LOCKING})
        where ware_id = #{wareId}
    </update>

    <update id="decreaseStock">
        update ware_info
        set stock = stock - #{lockNumber}, lock_number = lock_number - #{lockNumber}
        where ware_id = #{wareId}
    </update>
</mapper>
