<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.transaction.ware.mapper.WareInfoMapper">
    <select id="wareInfoById" resultType="neko.transaction.ware.vo.WareInfoVo">
        select ware_id, product_id, (stock - lock_number) stock, create_time, update_time
        from ware_info
        where product_id = #{productId}
    </select>

    <update id="updateStockByProductId">
        update ware_info
        set stock = stock + #{offset}
--         修改后库存数量必须 >= 0
        where product_id = #{productId} and (stock - lock_number + #{offset}) >= 0
    </update>

    <update id="lockStock">
        update ware_info
        set lock_number = lock_number + #{lockNumber}
        where ware_id = #{wareId} and stock >= lock_number + #{lockNumber}
    </update>

    <update id="unlockStock">
        update ware_info
        set lock_number = lock_number - (select lock_number from stock_lock_log
            where stock_lock_log_id = #{stockLockLogId} and status = 0)
        where ware_id= #{wareId}
    </update>

    <update id="decreaseStock">
        update ware_info
        set stock = stock - #{lockNumber}, lock_number = lock_number - #{lockNumber}
        where ware_id= #{wareId}
    </update>
</mapper>
